@model MeusClientes.EF.HistoricoSuporte

@{
    ViewData["Title"] = "Create";
}



<h4>Historico de Suporte</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Equipamento" class="control-label"></label>
                <input asp-for="Equipamento" class="form-control" />
                <span asp-validation-for="Equipamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anotacao" class="control-label"></label>
                <input asp-for="Anotacao" class="form-control" />
                <span asp-validation-for="Anotacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volta</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
